<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdCBpiYuKN0fHyRwPJVnyuvtOpVwVhyP8</string>
	<key>GCM_SENDER_ID</key>
	<string>35009306164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mithfordev.PhotoEditorWithAuth</string>
	<key>PROJECT_ID</key>
	<string>photoeditorwithauth</string>
	<key>STORAGE_BUCKET</key>
	<string>photoeditorwithauth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35009306164:ios:817e65096f02603d64f461</string>
</dict>
</plist>